.topbar {
  background-color: #0d47a1;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.helpline-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 3px 3px 2px black;
}

.whatsapp-btn {
  background-color: #25d366;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 3px 3px 2px black;
}